button{
    padding: 7px 3em;
    font-size: 2em;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #0707078f;
    margin-bottom: 1em;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}